@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 25% 98%;
    --foreground: 341 50% 10%;
    --card: 0 0% 100%;
    --card-foreground: 341 50% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 341 50% 10%;
    --primary: 341 50% 25%;
    --primary-foreground: 30 25% 98%;
    --secondary: 30 10% 92%;
    --secondary-foreground: 341 50% 25%;
    --muted: 30 10% 92%;
    --muted-foreground: 341 20% 40%;
    --accent: 310 70% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 341 20% 85%;
    --input: 341 20% 85%;
    --ring: 341 50% 25%;
    --radius: 0.25rem;
  }
  .dark {
    --background: 341 50% 5%;
    --foreground: 30 25% 98%;
    --card: 341 50% 8%;
    --card-foreground: 30 25% 98%;
    --popover: 341 50% 8%;
    --popover-foreground: 30 25% 98%;
    --primary: 341 50% 45%;
    --primary-foreground: 30 25% 98%;
    --secondary: 341 30% 15%;
    --secondary-foreground: 30 25% 98%;
    --muted: 341 30% 15%;
    --muted-foreground: 341 10% 70%;
    --accent: 310 70% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 341 30% 20%;
    --input: 341 30% 20%;
    --ring: 341 50% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}